<H1><strong>Contact</strong></H1>
<p>Latiyu pisum lordo sit amet consectetur adipisicing elit. Blanditiis modi, rem deserunt ea veniam aut totam est
   commodi? Consequatur tenetur molestias maiores voluptates nulla laborum a rem totam incidunt ipsam?</p>
<form>
   <div class="row justify-content-center mb-4">
      <div class="card-header col-9">
         <div class="col-12 mb-3">
            <div style="display: flex; align-items">
               <label for="example" class="email">Tu Correo</label>
               <input type="email" class="form-control ms-2" id="exampleFormControlInput1" placeholder="name@Ejemplo.com">
            </div>
            <div class="col-12 mt-4 mb-4">
               <div style="display: flex; align-items">
                  <label for="exampleFormControlTextarea1" class="email">Mensaje</label>
                  <textarea class="form-control ms-3" id="exampleFormControlTextarea1" rows="5" placeholder="Por favor ingresa tu mensaje aqui"></textarea>
               </div>
            </div>
         </div>
         <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2" type="button">Submit</button>
         </div>
      </div>
   </div>
</form>