<h1>Porfolio</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quos assumenda libero perspiciatis? Velit laborum praesentium delectus, fugiat nihil dicta eius numquam libero porro sed quaerat deserunt, labore enim nesciunt.</p>

<div class="row">
    <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="card" style="width: 19rem;">
            <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Nombre del Proyecto</h3>
                <p class="card-text">Texto de prueba, editar despues de coordinar con el equipo el tema que se colocara</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 19rem;">
            <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Nombre del Proyecto</h3>
                <p class="card-text">Texto de prueba, editar despues de coordinar con el equipo el tema que se colocara</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card" style="width: 19rem;">
            <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Nombre del Proyecto</h3>
                <p class="card-text">Texto de prueba, editar despues de coordinar con el equipo el tema que se colocara</p>
            </div>
        </div>
    </div>
</div>

