<div class=" mb-3" >
    <div class="row g-0">

       
        <div class="col-md-4">
            <img src="assets/img/2.jpg" class="img-fluid rounded-circle" alt="..." width="300px" height="300px">
        </div>

         <div class="col-md-8">
            <div class="card-body">
                <h1 class="card-title">The second heading <span class="text-secondary">is pretty cool too.</span></h1>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit enim magnam cum quas, excepturi dolores qui adipisci a vel ea ratione, odio aliquid, expedita repellat vero soluta accusamus ducimus! Sapiente amet harum atque aperiam expedita, quaerat tenetur, delectus nostrum quas, modi vel neque sunt ipsa maxime suscipit cupiditate assumenda dolor?.</p>
            </div>

        </div>
    </div>
</div>